@keyframes load {
    0% {
        visibility: visible;
        overflow-y: hidden;
    }
    100% {
        visibility: hidden;
    } 
}
@keyframes spintest {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg); 
    } 
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg); 
    } 
}
@keyframes spin2 {
    0% {
        transform: rotate(0deg);
        transform-origin: 140% 50%;
    }
    10% {
        transform: rotate(-180deg);
        transform-origin: 140% 50%;
        opacity: 1;
    }
    11% {
        opacity: 0;
    }
    89% {
        opacity: 0;
    }
    90% {
        transform: rotate(0deg);
        transform-origin: -50% 50%;
        opacity: 1;
    }
    100% {
        transform: rotate(180deg);
        transform-origin: -50% 50%;
    } 
}
@keyframes spin3 {
    0% {
        transform: rotate(0deg);
        transform-origin: 140% 50%;
    }
    20% {
        transform: rotate(180deg);
        transform-origin: 140% 50%;
        opacity: 1;
    }
    21% {
        opacity: 0;
    }
    79% {
        opacity: 0;
    }
    80% {
        transform: rotate(0deg);
        transform-origin: -50% 50%;
        opacity: 1;
    }
    100% {
        transform: rotate(-180deg);
        transform-origin: -50% 50%;
    } 
}
@keyframes spin4 {
    0% {
        transform: rotate(0deg);
        transform-origin: 140% 50%;
    }
    20% {
        transform: rotate(-180deg);
        transform-origin: 140% 50%;
        opacity: 1;
    }
    21% {
        opacity: 0;
    }
    79% {
        opacity: 0;
    }
    80% {
        transform: rotate(0deg);
        transform-origin: -50% 50%;
        opacity: 1;
    }
    100% {
        transform: rotate(180deg);
        transform-origin: -50% 50%;
    } 
}
@keyframes spin5 {
    0% {
        transform: rotate(0deg);
        transform-origin: 140% 50%;
    }
    55% {
        transform: rotate(180deg);
        transform-origin: 140% 50%;
        opacity: 1;
    }
    56% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    67% {
        transform: rotate(0deg);
        transform-origin: -50% 50%;
        opacity: 1;
    }
    100% {
        transform: rotate(-180deg);
        transform-origin: -50% 50%;
    } 
}
@keyframes heart {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; 
    } 
}
@keyframes translat1 {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px); 
    } 
}
@keyframes translat2 {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    } 
}
@keyframes translat3 {
    0% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px); 
    } 
}
@keyframes opac {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1; 
    }
    100% {
        opacity: 1;
    } 
}
@keyframes opac2 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1; 
    }
    100% {
        opacity: 1;
    } 
}
@keyframes opac3 {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 1; 
    }
    100% {
        opacity: 1;
    } 
}
@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    } 
}
.cont2__m__ent, .cont2__m__entlan {
    
    &__1 {
        animation: translat1 2000ms ease-in-out, opac 1600ms ease-in-out;
    }
    &__2 {
        animation: translat2 2200ms ease-in-out, opac 1600ms ease-in-out;
    }
    &__3 {
        animation: translat3 2400ms ease-in-out, opac 1600ms ease-in-out;
    }
    &__3lan {
        animation: translat3 2400ms ease-in-out, opac 1600ms ease-in-out;
    }
    &__4 {
        animation: translat3 2600ms ease-in-out, opac 1600ms ease-in-out;
    }
}
.cont2__m__pla {
    
    &__1 {
        animation: translat1 2800ms ease-in-out, opac2 2200ms ease-in-out;
    }
    &__2 {
        animation: translat2 3000ms ease-in-out, opac2 2200ms ease-in-out;
    }
    &__3 {
        animation: translat3 3200ms ease-in-out, opac2 2200ms ease-in-out;
    }
}
.cont2__m__des {
    
    &__1 {
        animation: translat1 3400ms ease-in-out, opac3 2800ms ease-in-out;
    }
    &__2 {
        animation: translat2 3600ms ease-in-out, opac3 2800ms ease-in-out;
    }
    &__3 {
        animation: translat3 3800ms ease-in-out, opac3 2800ms ease-in-out;
    }
}
.cont2 {
    &__m {

        &__ent__1, &__ent__2, &__ent__3, &__ent__3lan, &__ent__4, &__pla__1, &__pla__2, &__pla__3, &__des__1, &__des__2, &__des__3, &__entlan__1, &__entlan__2, &__entlan__3lan, &__entlan__4 {
            overflow: hidden;
            &__anim {
                background-color: $clr-tertiary;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                width: 0px;
                transition: width 400ms, height 400ms;
            }
            &:hover > &__anim {
                width: 17%;
            }
            &:hover > &__anim .fas {
                animation: turn 400ms ease-in-out;
            }
            &__half {
                width: 95%;
                transition: width 400ms;
            }
            &:hover > &__half {
                width: 83%;
            }
        } 
    }
}


