@font-face {
    font-family: 'shrikhandregular';
    src: url('/webfont/shrikhand/shrikhand-regular-webfont.eot');
    src: url('/webfont/shrikhand/shrikhand-regular-webfont.eot') format('embedded-opentype'),
         url('/webfont/shrikhand/shrikhand-regular-webfont.woff') format('woff'),
         url('/webfont/shrikhand/shrikhand-regular-webfont.ttf') format('truetype'),
         url('/webfont/shrikhand/shrikhand-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}