.btn {
    width: 218px;
    height: 50px;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    background: linear-gradient(to top left, $clr-primary, $clr-secondary);
    box-shadow: 0px 5px 10px 0px rgb(173, 173, 173);
    opacity: 1;
    &:hover {
        opacity: 0.9;
        box-shadow: 0px 10px 15px 0px rgb(173, 173, 173);
    }
    &__txt {
        padding-top: 16px; 
        font-family: $f;
        color: white;
    }
    &--modif {
        width: 185px;
        height: 50px;
        margin:auto;
        border-radius: 25px;
        text-align: center;
        background: linear-gradient(to top left, $clr-primary, $clr-secondary);
        box-shadow: 0px 5px 10px 0px rgb(173, 173, 173);
        margin-top: 11px;
        opacity: 1;
        &:hover {
            opacity: 0.9;
            box-shadow: 0px 10px 15px 0px rgb(173, 173, 173);

        }
    }
}
.contload {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    position: absolute;
    visibility: hidden;
    animation: load 1900ms ease-in-out;
    z-index: 3;
    &__txt {
        color: white;
        width: 80vw;
        padding-top: 5vh;
        margin: auto;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    &__loader {
        width: 190px;
        height: 30px;
        padding-top: 45vh;
        margin: auto;
        display: flex;
        justify-content: space-between;
        &__spin1, &__spin2, &__spin3, &__spin4, &__spin5, &__spin6 {
            background-color: rgb(255, 81, 0);
            border: 2px rgb(255, 251, 2) solid;
            height: 25px;
            width: 15px;
            border-radius: 100px;
        }
        &__spin1 {
            animation: spin 200ms linear;
            transform-origin: 148% 50%;
        }
        &__spin2 {
            animation: spin2 1700ms 200ms linear;
        }
        &__spin3 {
            animation: spin3 1400ms 400ms linear;
        }
        &__spin4 {
            animation: spin4 900ms 600ms linear;
        }
        &__spin5 {
            animation: spin5 500ms 800ms linear;
        }
        &__spin6 {
            animation: spin 200ms 900ms linear;
            transform-origin: -40% 50%;
        }

    }
}
#bloc_page {
    position: relative;
    z-index: 2;
}
